@font-face{
    font-family: 'Ubuntu';
    src: url('../fonts/static/Ubuntu-Medium.ttf');
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.body{
    height: 100vh;
}

.heading{
    margin-top: 74px;
    width: 40%;
    z-index: 1;
    margin-bottom: 40px;
}