body{
    background-color: #f6f2e9;
}
.all-content{
    display: flex;
    height: 100%;
    width: 100%;
    
    /*background-color: yellow;*/
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: aqua;*/
}
.icon-img{
    width:100%;
    height:100%;
    /*background-color: red;*/
}
.options{
    /*background-color: blue;*/
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 50px;
    z-index: 1;
    /*border-style: solid;*/
}

.section{
    /*background-color: green;*/
    position: absolute;
} 

.welcome-message{
    /*background-color: green;*/
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-top: 74px;
    /*border-style: solid;*/
}
.welcome{
    /*width: 700px;
    margin-bottom: 110px;*/
    width: 60%
}

.monkey{
    /*width:500px;
    height: 350px;*/
    width: 40%;
}