@font-face{
    font-family: 'gooddp';
    src: url('../fonts/static/GOODDP__.TTF');
}
  
body{
    background-color: rgba(0,0,0,0);
    height: 100%;
}

.background{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: fixed;
    margin-top: 74px;
}
.all-content{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    /*background-color: yellow;*/
}

.icon{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;*/
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.icon-img{
    /*width:100%;
    height:100%;*/
    width: 100%;
    height: 100%;
    z-index: 2;
}

.icon-highlight{
    width: 110%;
    height: 20%;
    position: absolute;
    z-index: 1;
    top: 45%;
}
#projects{
    width: 82%;
    height: 82%;
    z-index: 2;
}
.options{
    /*background-color: blue;
    width: 8%;
    height: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 50px;
    z-index: 1;
    border-style: solid;*/
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 50px;
   
}

.section-name{
    font-family: gooddp;
    font-size: 200%;
    
} 

.welcome-message{
    /*background-color: green;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-top: 74px;
    /*border-style: solid;*/
}
.welcome{
    /*width: 700px;
    margin-bottom: 110px;*/
    width: 60%;
}

.monkey{
    /*width:500px;
    height: 350px;*/
    width: 40%;
}