body{
    background-color: #f6f2e9;
}
.all-content{
    display: flex;
    height: 100%;
    width: 100%;
    /*background-color: yellow;*/
}

.options{
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    margin-top:74px;
    padding-top: 20px;
    position: absolute;
    z-index: 1;
}


.welcome-message{
    /*background-color: green;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-top: 74px;
}
.welcome{
    width: 700px;
    height: 300px;
    margin-bottom: 110px;
}

.monkey{
    width:500px;
    height: 350px;
}